{% load static markdownify %}


<!-- Вопросы -->
<div class="site-box">
    <section class="faq">
        <p class="faq__title">Главные вопросы о курсе</p>
        <div class="faq__body">
            <div class="faq__items">
                <div class="faq__item">
                    <button class="faq__collapsible"><p>Как проходят занятия на курсе?</p></button>
                    <div class="faq__content">
                        <p>
                            В школе есть курсы как в записи, для полной самостоятельной работы, так и курсы с сопровождением преподавателя.
                            Вы можете выбрать подходящий вам курс.<br>
                            Кстати, у каждого курса есть свой телеграмм-канал, в нем преподаватель загружает дополнительные материалы,
                            говорит о новостях курса, ведет интерактив с учениками. Это доступно для всех курсов, ведь нам важно формировать сообщество.
                        </p>
                    </div>
                </div>
                <div class="faq__item">
                    <button class="faq__collapsible"><p>Насколько по времени доступен курс?</p></button>
                    <div class="faq__content">
                        <p>
                            Есть курсы, в которых открыт доступ навсегда! И вы можете смотреть их несколько раз, возвращаясь к материалу повторно.
                            <br><br>
                            А есть курсы, к которым доступ ограничен. Например, срок прохождения курса - 1,5 месяца, это вместе с обратной связью от преподавателя. После окончания курса у вас есть к нему доступ еще на 3 месяца.
                            <br><br>
                            Почему? - нам важно, чтобы ученик осваивал навыки комплексно, урок за уроком, фиксируя полученные знания. Именно поэтому мы рекомендуем проходить курс с ограничением по времени, ведь нас ждут творческие открытия!
                        </p>
                    </div>
                </div>
                <div class="faq__item">
                    <button class="faq__collapsible"><p>Что насчет домашнего задания?</p></button>
                    <div class="faq__content">
                        <p>
                            Что то наверное...
                        </p>
                    </div>
                </div>
                <div class="faq__item">
                    <button class="faq__collapsible"><p>Что я получу, вступив в телеграм-канал курса?</p></button>
                    <div class="faq__content">
                        <p>Много всего. Но хотелось бы текст автора...</p>
                    </div>
                </div>
                <div class="faq__item">
                    <button class="faq__collapsible"><p>Я оплатил и не получил доступ к курсу.</p></button>
                    <div class="faq__content">
                        <p>
                            Плач
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>