 <div class="site-box">
        <section class="courses"  id="anchor-courses">

            <h1 class="section__title">Выборка курсов по ключу: "{{key}}"</h1>
            <div class="courses__cards">

                {% for item in courses %}
                <div class="courses__card">
                    <div class="courses__info">
                        <a class="courses__age" href="#">{{ item.age_group }}</a>
                        <div class="courses__count">{{ item.get_quantity_lessons }}</div>
                        <a class="courses__time" href="#">{{ item.duration }}</a>
                    </div>
                    <div class="courses__name">{{ item.title }}</div>
                    <a class="courses__for" href="#"><div>{{ item.preparation }}</div></a>
                    {% for desc in item.description %}
                        <p class="courses__note">{{ desc }}</p>
                    {% endfor %}
                    <a class="courses__detailed" href="{% url 'course' item.slug %}"><div>Подробнее о курсе</div></a>
                </div>
                {% endfor %}

            </div>

            <div class="courses__helpdesc">
                <div class="courses__help">
                    <p>Поможем выбрать курс и ответим на вопросы</p>
                    <div class="courses__buttons">
                        <a href="#" class="courses__button courses__button-tg"><span class="courses__button-full">Написать в Telegram</span><span class="courses__button-small">Telegram</span></a>
                        <a href="#" class="courses__button courses__button-vk"><span class="courses__button-full">Написать в VK</span><span class="courses__button-small">VK</span></a>
                    </div>
                </div>
            </div>
        </section>
    </div>