 <div class="site-box">
        <section class="courses"  id="anchor-courses">

            <h1 class="section__title">Выборка курсов по ключу: "{{key}}"</h1>
            <div class="courses__cards">

                {% for item in courses %}
                <div class="courses__card">
                    <div class="courses__info">
                        <div class="courses__age">{{ item.age_group }}</div>
                        <div class="courses__count">{{ item.get_quantity_lessons }}</div>
                        <div class="courses__time">{{ item.duration }}</div>
                    </div>
                    <div class="courses__name">{{ item.title }}</div>
                    <div class="courses__for"><div>{{ item.preparation }}</div></div>
                    {% for desc in item.description %}
                        <p class="courses__note">{{ desc }}</p>
                    {% endfor %}
                    <a class="courses__detailed" href="{% url 'course' item.slug %}"><div>Подробнее о курсе</div></a>
                </div>
                {% endfor %}

            </div>

            {% include "mainapp/parts_pages/helpdesk.html" %}

        </section>
    </div>