{% load static markdownify %}


<!-- Материалы и инструменты -->
<div class="site-box">
    <section class="pc__resources">
        <h1 class="section__title">НЕобходимые материалы<br>и инструменты</h1>
        <div class="pc__resources__block">
            <ul>
                <li>Папка акварельной бумаги или папка бумаги для рисунка - А4</li>
                <li>Кисти №4-6,6-8, белка или пони, синтетика, колонок</li>
                <li>Акварель 12 цветов (вместо акварели можно использовать гуашь)</li>
                <li>Цветные карандаши 12 цветов (вместо цветных карандашей можно использовать масляную пастель или восковые мелки)</li>
                <li>Палитра или белая тарелка</li>
                <li>Баночка для воды</li>
                <li>Простой карандаш</li>
                <li>Маркер толстый</li>
                <li>Ластик</li>
                <li>Цветная бумага</li>
                <li>Масляная пастель (вместо масляной пастели можно использовать восковые мелки)</li>
            </ul>
        </div>
    </section>
</div>