{% load static %}


<!-- Тарифы -->
<div class="site-box">
    <section class="pc__rate">
        <h1 class="section__title">Тарифы</h1>
        <div class="pc__rate__data">
            <div class="pc__rate__1">
                <h1>{{ course.title }}</h1>
                <ul>
                    {% for item in course_filling %}
                        <li>{{ item }}</li>
                    {% endfor %} 
                </ul>
            </div>
            <div class="pc__rate__2" id="anchor-buy-course">
                <form action="#"  method="post" class="pc__rate__form">
                    <h1 class="pc__rate__form__title">ЗАПИСАТЬСЯ НА КУРС</h1>
                    <div class="pc__rate__form__inputs">
                        <input class="pc__rate__form__inputs_name" type="text" name="name" placeholder="Имя">
                        <input class="pc__rate__form__inputs_email" type="email" name="email" placeholder="Почта">
                        <input class="pc__rate__form__inputs_phone" type="tel" name="phone" placeholder="+7">
                        <p>Нажимая на кнопку «Получить письмо», вы принимаете условия <a href="#">пользовательского соглашения</a>.</p>
                    </div>
                    <div class="pc__rate__form__pay">
                        <div class="pc__rate__form_price">{{ course.price }}</div>
                        <input type="submit" value="Оплатить курс" class="pc__rate__form_submit">
                    </div>
                </form>
            </div>
        </div>
        <div class="courses__helpdesc">
            <div class="courses__help">
                <p>Поможем выбрать курс и ответим на вопросы</p>
                <div class="courses__buttons">
                    <a href="#" class="courses__button courses__button-tg"><span class="courses__button-full">Написать в Telegram</span><span class="courses__button-small">Telegram</span></a>
                    <a href="#" class="courses__button courses__button-vk"><span class="courses__button-full">Написать в VK</span><span class="courses__button-small">VK</span></a>
                </div>
            </div>
        </div>
    </section>
</div>