{% load static markdownify %}


<!-- Описание уроков (раскрывающиеся блоки) -->
<div class="site-box">
    <section class="pc__lesson">
        <h1 class="section__title">Описание уроков</h1>
        <div class="faq__body">
            <div class="faq__items">
                {% for lesson in lessons %}
                <div class="faq__item">
                    <button class="faq__collapsible"><div><div><a href="#">Урок {{ lesson.number }}</a></div><div>{{ lesson.title }}</div></div></button>
                    <div class="faq__content pc__lesson__content">
                        {% if lesson.part1 %}
                        <div class="pc__lesson__p">
                            <p class="pc__lesson-title">{{ lesson.part1 }}</p>
                            <p class="pc__lesson-text">{{ lesson.description_part1 }}</p>
                        </div>
                        {% endif %}

                        {% if lesson.part2 %}
                        <div class="pc__lesson__p">
                            <p class="pc__lesson-title">{{ lesson.part2 }}</p>
                            <p class="pc__lesson-text">{{ lesson.description_part2 }}</p>
                        </div>
                        {% endif %}

                        {% if lesson.part3 %}
                        <div class="pc__lesson__p">
                            <p class="pc__lesson-title">{{ lesson.part3 }}</p>
                            <ul class="pc__lesson-text">
                                {% for item_li in lesson.description_part3 %}
                                    <li>{{ item_li }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        
                        {% if lesson.image %}
                        <div class="pc__lesson__img">
                            <img src="{{ lesson.image.url }}" alt="">
                        </div>
                        {% endif %}
                    
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <a href="#"><div class="pc__lesson-all">Смотреть все уроки</div></a>
        <div class="pc__lesson__container">
            {% for item in course.talents.all %}   
            <div class="pc__lesson__card">
                <h1>{{ item.title }}</h1>
                <p>{{ item.description}}</p>
                {% if item.image %}
                    <img src="{{ item.image.url }}" alt="">
                {% endif %}
            </div>
            {% endfor %}                
        </div>
        <div class="pc__lesson__pay">
            <div>
                <h2>Давайте отправимся в путешествие к Петроглифам на курсе<br>“{{ course.title }}”</h2>
                <a href="#"><div>Купить</div></a>
            </div>
        </div>
    </section>
</div>