{% load static markdownify %}


<!-- Тарифы -->
<div class="site-box">
    <section class="pc__rate">
        <h1 class="section__title">Тарифы</h1>
        <div class="pc__rate__data">
            <div class="pc__rate__1">
                <h1>МИР НАСКАЛЬНОЙ ЖИВОПИСИ</h1>
                <ul>
                    <li>4 видео-урока, от 15 минут каждый</li>
                    <li>Интерактивные викторины и тесты после каждого урока</li>
                    <li>Виртуальные экскурсии по скалам и пещерам с петроглифами</li>
                    <li>домашнее задание с закрепляющими упражнениями</li>
                    <li>тесты после каждого урока</li>
                    <li>Телеграм-канал курса с интересными фактами и сообществом учеников</li>
                </ul>
            </div>
            <div class="pc__rate__2">
                <form action="#"  method="post" class="pc__rate__form">
                    <h1 class="pc__rate__form__title">ЗАПИСАТЬСЯ НА КУРС</h1>
                    <div class="pc__rate__form__inputs">
                        <input class="pc__rate__form__inputs_name" type="text" name="name" placeholder="Имя">
                        <input class="pc__rate__form__inputs_email" type="email" name="email" placeholder="Почта">
                        <input class="pc__rate__form__inputs_phone" type="tel" name="phone" placeholder="+7">
                        <p>Нажимая на кнопку «Получить письмо», вы принимаете условия <a href="#">пользовательского соглашения</a>.</p>
                    </div>
                    <div class="pc__rate__form__pay">
                        <div class="pc__rate__form_price">4500</div>
                        <input type="submit" value="Оплатить курс" class="pc__rate__form_submit">
                    </div>
                </form>
            </div>
        </div>
        <div class="courses__helpdesc">
            <div class="courses__help">
                <p>Поможем выбрать курс и ответим на вопросы</p>
                <div class="courses__buttons">
                    <a href="#" class="courses__button courses__button-tg"><span class="courses__button-full">Написать в Telegram</span><span class="courses__button-small">Telegram</span></a>
                    <a href="#" class="courses__button courses__button-vk"><span class="courses__button-full">Написать в VK</span><span class="courses__button-small">VK</span></a>
                </div>
            </div>
        </div>
    </section>
</div>