{% load static markdownify %}


<!-- Описание уроков (раскрывающиеся блоки) -->
<div class="site-box">
    <section class="pc__lesson">
        <h1 class="section__title">Описание уроков</h1>
        <div class="faq__body">
            <div class="faq__items">
                <div class="faq__item">
                    <button class="faq__collapsible"><div><div><a href="#">Урок 1</a></div><div>Создаем свою карту Петроглифов и придумываем легенду</div></div></button>
                    <div class="faq__content pc__lesson__content">
                        <div class="pc__lesson__p">
                            <p class="pc__lesson-title">Цель урока</p>
                            <p class="pc__lesson-text">узнать о символах древних людей и оставить свою наскальную историю</p>
                        </div>
                        <div class="pc__lesson__p">
                            <p class="pc__lesson-title">Чему научится ребенок?</p>
                            <p class="pc__lesson-text">- этот урок способствует развитию творческого мышления-ученик сможет проиллюстрировать свою историю и придумает свои символы- узнает, что означают символы древних людей и как они связаны с современностью</p>
                        </div>
                        <div class="pc__lesson__p">
                            <p class="pc__lesson-title">Что нужно для урока?</p>
                            <ul class="pc__lesson-text">
                                <li>- лист А4 - 2 штуки</li>
                                <li>- карандаш простой</li>
                                <li>- маркеры любого цвета</li>
                            </ul>
                        </div>
                        <div class="pc__lesson__img">
                            <img src="#" alt="">
                        </div>
                    </div>
                </div>
                <div class="faq__item">
                    <button class="faq__collapsible"><div><div><a href="#">Урок 2</a></div><div>Рисуем трех мамонтов</div></div></button>
                    <div class="faq__content pc__lesson__content">
                        <div class="pc__lesson__p">
                            <p class="pc__lesson-title">Цель урока</p>
                            <p class="pc__lesson-text">узнать о символах древних людей и оставить свою наскальную историю</p>
                        </div>
                        <div class="pc__lesson__p">
                            <p class="pc__lesson-title">Чему научится ребенок?</p>
                            <p class="pc__lesson-text">- этот урок способствует развитию творческого мышления-ученик сможет проиллюстрировать свою историю и придумает свои символы- узнает, что означают символы древних людей и как они связаны с современностью</p>
                        </div>
                        <div class="pc__lesson__p">
                            <p class="pc__lesson-title">Что нужно для урока?</p>
                            <ul class="pc__lesson-text">
                                <li>- лист А4 - 2 штуки</li>
                                <li>- карандаш простой</li>
                                <li>- маркеры любого цвета</li>
                            </ul>
                        </div>
                        <div class="pc__lesson__img">
                            <img src="#" alt="">
                        </div>
                    </div>
                </div>
                <div class="faq__item">
                    <button class="faq__collapsible"><div><div><a href="#">Урок 3</a></div><div>Настоящие первые художники - рисуем мамонта Петро на скале!</div></div></button>
                    <div class="faq__content pc__lesson__content">
                        <div class="pc__lesson__p">
                            <p class="pc__lesson-title">Цель урока</p>
                            <p class="pc__lesson-text">узнать о символах древних людей и оставить свою наскальную историю</p>
                        </div>
                        <div class="pc__lesson__p">
                            <p class="pc__lesson-title">Чему научится ребенок?</p>
                            <p class="pc__lesson-text">- этот урок способствует развитию творческого мышления-ученик сможет проиллюстрировать свою историю и придумает свои символы- узнает, что означают символы древних людей и как они связаны с современностью</p>
                        </div>
                        <div class="pc__lesson__p">
                            <p class="pc__lesson-title">Что нужно для урока?</p>
                            <ul class="pc__lesson-text">
                                <li>- лист А4 - 2 штуки</li>
                                <li>- карандаш простой</li>
                                <li>- маркеры любого цвета</li>
                            </ul>
                        </div>
                        <div class="pc__lesson__img">
                            <img src="#" alt="">
                        </div>
                    </div>
                </div>
                <div class="faq__item">
                    <button class="faq__collapsible"><div><div><a href="#">Урок 4</a></div><div>Путешествуем по четырем странам в поисках петроглифов!</div></div></button>
                    <div class="faq__content pc__lesson__content">
                        <div class="pc__lesson__p">
                            <p class="pc__lesson-title">Цель урока</p>
                            <p class="pc__lesson-text">узнать о символах древних людей и оставить свою наскальную историю</p>
                        </div>
                        <div class="pc__lesson__p">
                            <p class="pc__lesson-title">Чему научится ребенок?</p>
                            <p class="pc__lesson-text">- этот урок способствует развитию творческого мышления-ученик сможет проиллюстрировать свою историю и придумает свои символы- узнает, что означают символы древних людей и как они связаны с современностью</p>
                        </div>
                        <div class="pc__lesson__p">
                            <p class="pc__lesson-title">Что нужно для урока?</p>
                            <ul class="pc__lesson-text">
                                <li>- лист А4 - 2 штуки</li>
                                <li>- карандаш простой</li>
                                <li>- маркеры любого цвета</li>
                            </ul>
                        </div>
                        <div class="pc__lesson__img">
                            <img src="#" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#"><div class="pc__lesson-all">Смотреть все уроки</div></a>     
        <div class="pc__lesson__container">
            {% for item in course.talents.all %}   
            <div class="pc__lesson__card">
                <h1>{{ item.title }}</h1>
                <p>{{ item.description}}</p>
                {% if item.image %}
                    <img src="{{ item.image.url }}" alt="">
                {% endif %}
            </div>
            {% endfor %}                
        </div>
        <div class="pc__lesson__pay">
            <div>
                <h2>Давайте отправимся в путешествие к Петроглифам на курсе<br>“{{ course.title }}”</h2>
                <a href="#"><div>Купить</div></a>
            </div>
        </div>
    </section>
</div>