{% load static markdownify %}

<!-- Часто задаваемые вопросы по школе -->
<div class="site-box">
    <section class="faq">
        <p class="faq__title">Ответы на главные вопросы</p>
        <div class="faq__body">
            <div class="faq__items">
                {% if question_answer %}
                {% for item in question_answer %}
                <div class="faq__item">
                    <button class="faq__collapsible">
                        <p>{{ item.question }}</p>
                    </button>
                    <div class="faq__content">
                        <p>{{ item.answer|markdownify }}</p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h2>Новостей нет!</h2>
                {% endif %}
            </div>
        </div>
    </section>
</div>