{% load static %}

<!-- Часто задаваемые вопросы по школе -->
<div class="site-box">
    <section class="faq">
        <p class="faq__title">Ответы на главные вопросы</p>
        <div class="faq__body">
            <div class="faq__items">
                <div class="faq__item">
                    <button class="faq__collapsible"><p>Как проходят занятия на курсе?</p></button>
                    <div class="faq__content">
                        <p>
                            В школе есть курсы как в записи, для полной самостоятельной работы, так и курсы с сопровождением преподавателя.
                            Вы можете выбрать подходящий вам курс.<br><br>
                            Кстати, у каждого курса есть свой телеграмм-канал, в нем преподаватель загружает дополнительные материалы,
                            говорит о новостях курса, ведет интерактив с учениками. Это доступно для всех курсов, ведь нам важно формировать сообщество.
                        </p>
                    </div>
                </div>
                <div class="faq__item">
                    <button class="faq__collapsible"><p>Насколько открывается доступ к курсам?</p></button>
                    <div class="faq__content">
                        <p>
                            Есть курсы, в которых открыт доступ навсегда! И вы можете смотреть их несколько раз, возвращаясь к материалу повторно.
                            <br><br>
                            А есть курсы, к которым доступ ограничен. Например, срок прохождения курса - 1,5 месяца, это вместе с обратной связью от преподавателя. После окончания курса у вас есть к нему доступ еще на 3 месяца.
                            <br><br>
                            Почему? - нам важно, чтобы ученик осваивал навыки комплексно, урок за уроком, фиксируя полученные знания. Именно поэтому мы рекомендуем проходить курс с ограничением по времени, ведь нас ждут творческие открытия!
                        </p>
                    </div>
                </div>
                <div class="faq__item">
                    <button class="faq__collapsible"><p>Что делать, если мне не пришло письмо с паролем?</p></button>
                    <div class="faq__content">
                        <p>
                            Скорее всего, вы неверно указали свой адрес электронной почты.
                            Если вы оплатили курс и не получили доступ — напишите нам <a href="mailto:(ссылка на почту)">(ссылка на почту)</a> и мы поможем вам в течении 24 часов.
                        </p>
                    </div>
                </div>
                <div class="faq__item">
                    <button class="faq__collapsible"><p>Могу ли я приобрести один урок из курса?</p></button>
                    <div class="faq__content">
                        <p>Все наши курсы продаются целиком. Мы регулярно делаем акции и разные тарифы, вам точно понравится!</p>
                    </div>
                </div>
                <div class="faq__item">
                    <button class="faq__collapsible"><p>Школа про креативные навыки, а курсы только про искусство?</p></button>
                    <div class="faq__content">
                        <p>
                            Все наши курсы продаются целиком. Мы регулярно делаем акции и разные тарифыы, вам точно понравится!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>