<div class="courses__helpdesc">
    <div class="courses__help">
        <p>Поможем выбрать курс и ответим на вопросы</p>
        <div class="courses__buttons">
            <a href="https://t.me/petrocreative" target="_blank" class="courses__button courses__button-tg"><span class="courses__button-full">Написать в Telegram</span><span class="courses__button-small">Telegram</span></a>
            <a href="https://vk.com/petrocreative" target="_blank" class="courses__button courses__button-vk"><span class="courses__button-full">Написать в VK</span><span class="courses__button-small">VK</span></a>
        </div>
    </div>
</div>