{% load static %}

<!-- Дерево желтое -->
<div class="site-box">
    <section class="endpage">
        <div class="author">
            <div class="author__avatar"><img src="{% static 'img/fedya_desktop.png' %}" alt="ava"></div>
            <p class="author__name"><span>Михмель Федя</span>"Вулкан"</p>
        </div>
        <img src="{% static 'img/image09.svg' %}" alt="tree" class="endpage__slogan-img">
        <div class="endpage__slogan-txt">Твои рисунки – это то, чем вдохновлялись самые великие художники</div>
    </section>
</div>