{% load static %}

<!-- Яблоня зеленая -->
<div class="site-box">
    <section class="endpage">
        <div class="author">
            <div class="author__avatar"><a href="#"><img src="{% static 'img/avatar.svg' %}" alt="ava"></a></div>
            <p class="author__name"><span>Фамилия Имя</span>"Яблоня"</p>
        </div>
        <img src="{% static 'img/apple_green.svg' %}" alt="tree" class="endpage__slogan-img">
        <div class="endpage__slogan-txt">Развивай свои креативные навыки с нами</div>
    </section>
</div>