{% extends "mainapp/base.html" %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
     <h1>ИЗМЕНЕНИЕ ПАРОЛЯ</h1>
     <p>Введите свой текущий пароль, чтобы изменить на новый</p>
     <form method="post">
{#         <input type="password" name="current_password" autocomplete="current-password"#}
{#           class="textinput textInput form-control" required="" id="id_password" placeholder="Password">#}
{#         <input type="password" name="new_password" class="textinput textInput form-control"#}
{#                required="" id="id_password" placeholder="New Password">#}

         {{ form.as_p }}
{#         <button type="submit"#}
{#            class="btn btn-primary btn-block">Сменить#}
{#         </button>#}
         <p><input type="submit" value="Изменить"></p>
     {% csrf_token %}
     </form>
{% endblock %}