{% load static %}

<!-- Наша задача -->
<div class="site-box">
    <section class="task">
        <h1 class="section__title">Наша задача</h1>
        <div class="task__author">
            <div class="task__box">
                <div class="task__box-ava"><a href="#"><img src="{% static 'img/avatar.svg' %}" alt="ava"></a></div>
                <p class="task__box-name"><span>Алина Заремба</span>художник, основатель школы</p>
            </div>
            <div class="task__text">
                <p>—раскрыть талант ребенка и сформировать его видение с помощью искусства, дизайна, и мягких навыков.</p>
                <p>И показать, как можно практически применять творчество в любом возрасте!</p>
            </div>
        </div>
    </section>
</div>