{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/course.css' %}" rel="stylesheet">
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
</head>

<body>

    {% if messages %}
    <div class="messages__overlay">
        <div class="messages__message">
            <a href="#" id="message__close"><div id="message__close-img"></div></a>
            {% for message in messages %}
            <p {% if message.tags %} class="message__text message__{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- Авторизация и регистрация -->
    <div class="autorization__pop_up" id="autorization__pop_up">
        <div class="autorization__pop_up_container">
            <form action="/login/"  method="post" class="autorization__form" id="autorization__form">
                {% csrf_token %}
                <div class="autorization__title">
                    <span>Вход</span>
                    <a href="#"><div class="autorization__close" id="autorization__close"></div></a>
                </div>
                <div class="autorization__inputs">
                    <input class="autorization__email" type="email" name="email" placeholder="E-Mail" required>
                    <input class="autorization__password" type="password" name="password" placeholder="Пароль" required>
                </div>
                <p class="autorization__recover"><a href="#" id="autorization__recover">Восстановить пароль</a></p>
                <div class="autorization__footer">
                    <a href="#" class="autorization__registration" id="autorization__registration">Зарегистрироваться</a>
                    <button class="autorization__button" type="submit" name="autorization__submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>

    <div class="registration__pop_up" id="registration__pop_up">
        <div class="registration__pop_up_container">
            <form action="/register/"  method="post" class="registration__form" id="registration__form">
                {% csrf_token %}
                <div class="registration__title">
                    <span>Регистрация</span>
                    <a href="#"><div class="registration__close" id="registration__close"></div></a>
                </div>
                    <div class="registration__inputs">
                        <input class="registration__name" type="text" name="name" placeholder="Имя" required>
                        <input class="registration__email" type="email" name="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" placeholder="E-Mail" required>
                        <input class="registration__phone" type="tel" name="phone" pattern="\+?[0-9\s\-\(\)]+" placeholder="+7" required>
                        <input class="registration__password" type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Не менее восьми символов, содержащих хотя бы одну цифру и символы из верхнего и нижнего регистра" placeholder="Пароль" required id="registration__password">
                        <input class="registration__password2" type="password" name="password2" placeholder="Подтвердить пароль" required id="registration__password2">
                    </div>
                    <div id="registration__error">Пароли не совпадают! Отправка формы не возможна.</div>
                    <!-- <div class="registration__agreement">Нажимая на кнопку «Оплатить курс», вы принимаете условия пользовательского соглашения</div> -->
                    <div class="registration__footer">
                        <button class="registration__button" type="submit" name="registration__submit" id="registration__button">Зарегистрироваться</button>
                    </div>
                    <!-- <p>Если Вы регистрировались, то <a href="#" id="registration__autorization">авторизоваться</a>.</p> -->
            </form>
        </div>
    </div>

    <!-- MENU -->
    <div class="site-box">
        <header id="header">
            <div class="header__logo"><a href="#"><img src="{% static 'img/logo.svg' %}" alt="Logo"></a></div>
            <nav class="header__menu">
                <ul>
                    <li><a href="/#anchor-about">О школе</a></li>
                        <!--#anchor-about-->
                    <li><a href="/#anchor-courses">Наши курсы</a></li>
                    <li><a href="/#anchor-mentors">Преподаватели</a></li>
                </ul>
            </nav>
            <div class="header__buttons">
                {% if request.user.is_authenticated %}
                    <a href="/self-account/">
                        <span class="header__self-account" title="Вход в личный кабинет"></span>
                    </a>
                    <a href="/logout/" class="header__login" id="header__logout">Выйти</a>
                {% else %}
                    <a href="#" class="header__login" id="header__login">Войти</a>
                {% endif %}
<!--                <a href="/self-account/" class="header__detailed">О курсах</a>-->
            </div>
        </header>
    </div>

    {% block content %}
    {% endblock %}

    <!-- FOOTER -->
    <div class="site-box">
        <footer>
            <span>Мы в соц-сетях:</span>
            <ul>
                <li><a href="#"><img src="{% static 'img/vk.svg' %}" alt="VK"></a></li>
                <li><a href="#"><img src="{% static 'img/in.svg' %}" alt=""></a></li>
                <li><a href="#"><img src="{% static 'img/tg.svg' %}" alt="Telegram"></a></li>
            </ul>
        </footer>
    </div>


    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/message.js' %}"></script>
    <script src="{% static 'js/course.js' %}"></script>
</body>

</html>