{% extends "mainapp/base.html" %}

{% block title %}Петроглиф - Развивай свои креативные навыки вместе с нами{% endblock %}


{% block content %}
    {% include "mainapp/parts_pages/video.html" %}
    {% include "mainapp/parts_pages/image_tree_green.html" %}
    {% include "mainapp/parts_pages/mission_slider.html" %}
    {% include "mainapp/parts_pages/task_school.html" %}
    {% include "mainapp/parts_pages/courses.html" %}
    {% include "mainapp/parts_pages/teacher.html" %}
    {% include "mainapp/parts_pages/faq_school.html" %}
    {% include "mainapp/parts_pages/image_volcano.html" %}
{% endblock %}