.recover_password_comment {
    margin-bottom: 47px;
    font-size: clamp(1rem, 5vw, 1.25rem);
}

.block__grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.input_block_bottom {
    border-bottom: 1px solid #A0A5A8;
    display: flex;
    align-items: center;
    gap: 17px;
}
.input-field__label {
    font-size: clamp(1.5rem, 5vw, 2.25rem);
}
.input-field__icon {
    position: relative;
    width: 100%;
}
.input-field__icon input {
    border: none;
    background-color: transparent;
    width: calc(100% - 47px);
    outline: none;
    font-size: clamp(1.5rem, 5vw, 2.25rem);
}
.input-field__icon input::placeholder {
    color: #A0A5A9;
    font-size: clamp(1rem, 4vw, 1.25rem);
}
.input-field__aicon {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0px;
    width: 40px;
    cursor: pointer;
    color: #bdbdbd;
    transition: color 0.15s ease-in-out;
}
.input-field__aicon svg:hover path {
    fill: #212529;
}
.input-field__aicon svg:hover rect {
    fill: #212529;
}
.input_block_important {
    color: #A0A5A9;
    font-size: clamp(1rem, 4vw, 1.25rem);
    margin-top: 10px;
    margin-bottom: 10px;
}
.input_block_comment {
    color: #A0A5A9;
    font-size: clamp(0.75rem, 4vw, 1rem);
    margin-bottom: clamp(20px, 4vw, 40px);
}
.input_block_save {
    margin-top: clamp(77px, 17vw, 200px);
    display: flex;
    justify-content: end;
}
.input_block_save-a {
    pointer-events: none;
    text-decoration: none;
    font-size: clamp(1.25rem, 4vw, 1.5rem);
    color: #FFFFFF;
    padding: 29px clamp(37px, 5vw, 77px);
    background-color: #687B9E;
    border-radius: 24px;
    border: 1px solid #687B9E;
    cursor: pointer;
    /* transition: background-color 0.3s ease-in-out; */
}
.input_block_save-a:hover {
    color: #687B9E;
    background-color: #FFFFFF;
}
.input_block_save-a.input_block_save-active {
    pointer-events: auto;
}


@media (max-width: 900px) {
    .block__grid {
        display: flex;
        flex-direction: column;
    }
}