@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  background: #F6F6F6;
}

.site-box {
  max-width: 1280px;
  margin: 0 auto;
}

/* MENU */

header {
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 28px;
  height: 100px;
}

.logo {
  min-width: 249px;
  min-height: 55px;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: 100%;
}

.header__menu {
  width: 100%;
}

.header__menu ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.header__menu ul li a {
  text-decoration: none;
  font-size: clamp(12px, 15vw, 18px);
  color: #04121B;
  position: relative;
}

.header__menu ul li a::before {
  content: '';
  width: 0;
  height: 3px;
  background-color: #95AA99;
  position: absolute;
  top: 90%;
  left: 0;
  transition: .5s;
  mix-blend-mode: multiply;
}

.header__menu ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #D9D9D9;
  position: absolute;
  top: 90%;
  right: 0;
  transition: .5s;
  mix-blend-mode: multiply;
  /* запретить перенос текста */
}

.header__menu ul li a:hover {
  color: #194799;
}

.header__menu ul li:hover a:before {
  width: 50%;
  transform: translateX(100%);
}

.header__menu ul li:hover a:after {
  width: 50%;
  transform: translateX(-100%);
}

.buttons {
  display: flex;
  list-style: none;
}

.buttons a {
  text-decoration: none;
}

.button {
  border-radius: 15px;
  padding: 20px 28px;
  color: #95AA99;
  font-size: clamp(12px, 2vw, 20px);
  white-space: nowrap;
  background: #FFFFFF;
}

.button:hover {
  color: #FFFFFF;
  background: #95AA99;
}

.header__login {
  margin-right: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  margin: 64px auto 179px;
}

footer span {
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
}

footer ul {
  display: flex;
  list-style: none;
  margin: 62px auto 0px;
  gap: 26px;
}

footer ul li img {
  width: 75px;
  height: 75px;
}

/* ВИДЕОЗАСТАВКА */

.wallpaper {
  overflow: hidden;
  width: 100%;
  height: 767px;
  position: relative;
}

.wallpaper__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wallpaper__overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-align: center;
  color: #fff;
  font-weight: 300;
  line-height: 1;
}

.wallpaper__overlay-1 {
  font-size: clamp(16px, 5vw, 24px);
  margin-top: 162px;
}

.wallpaper__overlay-2 {
  font-size: clamp(16px, 5vw, 56px);
  margin-top: 50px;
}

.wallpaper__overlay-3 {
  font-size: clamp(16px, 5vw, 20px);
  margin-top: 79px;
}

.wallpaper__btn {
  margin: 39px auto 0;
  z-index: 2;
  width: 125px;
  height: 125px;
  line-height: 1;
}

.wallpaper__btn img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.wallpaper__btn img:hover {
  transform: scale(1.15, 1.15);
}


/* CONTAINER */
.container {
  margin: 0px 28px;
}

/* НАША ЗАДАЧА */

.mission {
  margin-top: 47px;
}

.mission__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mission__btn1 {
  margin-right: 20px;
}

.author {
  height: 55px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #A0A5A9;
}

.author span {
  font-size: 20px;
  color: #171717;
  display: block;
}

.author__avatar {
  margin-right: 15px;
}

.mission__author>.author {
  background: #FFFFFF;
}

.mission__slogan {
  overflow: hidden;
  width: 100%;
  max-width: 665px;
  margin: 0 auto;
  position: relative;
}

.mission__slogan img {
  width: 100%;
  height: auto;
  transform: scale(0.75);
}

.mission__slogan div {
  font-size: clamp(48px, 5vw, 76px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.slogan {
  width: 100%;
}

/* Как вернуть display: block; ????? */
.mySlides {
  display: flex;
}

.mission__approach {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 22px;
}

.mission__card {
  padding: 42px 30px;
  height: 413px;
  width: 331px;
  border-radius: 24px;
  text-align: left;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  background: #FFFFFF;
}

.mission__card h1 {
  margin-bottom: 35px;
  font-size: 32px;
}

.mission__card p {
  font-size: 16px;
  height: 170px;
  color: #A0A5A9;
}

.mission__card>div {
  position: relative;
  height: 130px;
}

.mission__card>div>img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .mission__card > div > img { height: 160px; width: 180px;} */
.title {
  font-size: clamp(34px, 5vw, 56px);
  margin-left: 36px;
}

.mission__title {
  margin-top: 180px;
  margin-bottom: 80px;
}

.mission__author {
  display: flex;
  gap: 22px;
}

.mission__author .author {
  text-wrap: nowrap;
  padding: 32px 24px;
  border-radius: 24px;
}

.mission__author .mission__text {
  font-size: clamp(28px, 5vw, 48px);
  margin-top: 24px;
}

.courses {
  margin-top: 90px;
}

.courses__cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  gap: 24px;
  justify-content: center;
}

.courses__card {
  width: 526px;
  height: 512px;
  border-radius: 24px;
  padding: 28px 36px 63px;
  position: relative;
  background: #FFFFFF;
}

.courses__info {
  display: flex;
  gap: 7px;
}

.courses__info a {
  font-size: 18px;
  color: #CF7042;
  padding: 11px 35px;
  background: #E6E4D4;
  border-radius: 24px;
  text-wrap: nowrap;
  text-decoration: none;
}

.courses__name {
  font-size: 40px;
  line-height: 1;
  margin-top: 48px;
  margin-bottom: 12px;
  height: 80px;
}

.courses__for {
  font-size: 16px;
  padding: 14px 35px;
  background: #FFF2E0;
  border-radius: 15px;
  margin-top: 12px;
  display: inline-block;
  text-decoration: none;
}

.courses__beginner {
  color: #CF7042;
}

.courses__beginner:hover {
  color: #FFFFFF;
  background-color: #FF9E00;
}

.courses__beginner_plus {
  color: rgba(8, 41, 99, 1);
  background-color: rgba(216, 230, 255, 1);
}

.courses__beginner_plus:hover {
  color: #FFFFFF;
  background-color: rgba(8, 41, 99, 1);

}

.courses__note {
  font-size: 20px;
  color: #A0A5A9;
  margin-top: 30px;
}

.courses__detailed {
  font-size: 24px;
  color: #95AA99;
  padding: 30px 42px;
  text-decoration: none;
  border: 1px solid #95AA99;
  border-radius: 24px;
  position: absolute;
  bottom: 63px;
  left: 34px;
}

.courses__detailed:hover {
  color: #fff;
  background: #95AA99;
}

.courses__helpdesc {
  display: flex;
  justify-content: end;
  margin-top: 40px;
}

.courses__help {
  width: 732px;
  border-radius: 24px;
  background: #194799;
  padding: 39px;
}

.courses__help p {
  font-size: 40px;
  color: #FFFFFF;
  width: 450px;
}

.courses__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 74px;
}

.courses__button {
  display: flex;
  background: #55CCFF;
  color: #FFFFFF;
  border-radius: 24px;
  text-decoration: none;
  width: 305px;
  height: 92px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.courses__button:hover {
  background: #FFFFFF;
  color: #55CCFF;
}

.courses__button-full {
  display: block;
}

.courses__button-small {
  display: none;
}

/* ПРЕПОДАВАТЕЛЬ */

.teacher__title {
  margin-top: 120px;
}

.teacher__about {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  margin-top: 80px;
}

.teacher__about>div {
  flex: 1 1;
}

.teacher__photo {
  min-width: 347px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}

.teacher__photo img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.teacher__text {
  min-width: 347px;
}

.teacher__name {
  padding: 45px 30px;
  font-size: 40px;
  color: #0D161B;
  background: #FFFFFF;
  border-radius: 24px;
}

.teacher__name span {
  font-size: 20px;
  color: #9C9C9C;
  display: block;
}

.teacher__note {
  padding: 40px 30px;
  font-size: 24px;
  color: #0D161B;
  background: #FFFFFF;
  border-radius: 24px;
  margin-top: 22px;
}

.teacher__form {
  display: flex;
  justify-content: end;
  margin-top: 40px;
  margin-left: 15vw;
  position: relative;
}

.teacher__form>form {
  justify-content: end;
  border-radius: 24px;
}

.form__email {
  width: 100%;
  min-width: 347px;
  padding: 33px 50px 27px;
  background: #E6E4D4;
}

.form__title {
  font-size: clamp(24px, 3vw, 40px);
  color: #082963;
}

.form__inputs {
  margin-top: 74px;
  display: flex;
  gap: 15px;
  width: 100%;
  flex-direction: row;
}

.form__inputs>input {
  width: 0;
  height: 92px;
  border: none;
  border-radius: 24px;
  padding: 14px 24px;
  font-size: 24px;
}

.form__inputs_text {
  flex: 1;
}

.form__inputs_email {
  flex: 2;
}

.form__submit {
  border-radius: 24px;
  border: none;
  background: #FFF2E0;
  color: #CF7042;
  font-size: 24px;
  margin-top: 32px;
  height: 92px;
  width: 100%;
  cursor: pointer;
}

.form__submit:hover {
  color: #FFF2E0;
  background-color: #CF7042;
}

.form__email>p {
  font-size: 14px;
  color: #082963;
  margin-top: 17px;
}

.teacher__petroglif {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 48px;
  left: -150px;
  transform: rotate(-45deg);
}

/* FAQ */

.faq {
  margin-top: 100px;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.faq__title {
  min-width: 357px;
}

.faq__items {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.faq__item {
  border-radius: 24px;
  padding: 40px 38px 50px;
  background: #FFFFFF;
}

.faq__collapsible {
  background: transparent;
  font-size: clamp(24px, 3vw, 36px);
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  outline: none;
}

.faq__collapsible>p {
  width: 85%;
  display: inline-block;
}

.faq__active {
  background: transparent;
}

.faq__collapsible::after {
  content: url(../img/btn_collapsible_plus.svg);
  float: right;
  margin-left: 5px;
  margin-right: 7px;
}

.faq__active:after {
  content: url(../img/btn_collapsible_minus.svg);
}

.faq__content {
  max-height: 0;
  overflow: hidden;
  line-height: 1.5;
  transition: max-height 0.2s ease-out;
  color: #8B8B8B;
  font-size: clamp(16px, 3vw, 24px);
}

.endpage {
  position: relative;
  margin-top: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.endpage>.author {
  position: absolute;
  right: 17px;
  top: 50px;
}

.endpage__slogan {
  overflow: hidden;
  width: 100%;
  max-width: 777px;
  margin: 0 auto;
  position: relative;
}

.endpage__slogan img {
  width: 100%;
  height: auto;
  transform: scale(0.75);
}

.endpage__slogan div {
  font-size: clamp(48px, 5vw, 76px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}



/* ДЕТАЛЬНАЯ СТРАНИЦА КУРСА */

/* О курсе */
.pc__aboute {
  width: 100%;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pc__aboute>img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  flex-shrink: 0;
}

.pc__aboute__data {
  margin: 32px 40px 46px;
  z-index: 1;
}

.pc__aboute__info {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}

.pc__aboute__info>a {
  font-size: clamp(14px, 5vw, 18px);
  padding: 17px 25px;
  background-color: #FFFFFF;
  border-radius: 46px;
  text-decoration: none;
  color: #566659;
}

.pc__aboute__info>.pc__aboute__info-red {
  background-color: #FF8D8D;
  color: #FFFFFF;
}

.pc__aboute__name {
  font-size: clamp(36px, 5vw, 76px);
  color: #FFFFFF;
  margin-top: 26px;
}

.pc__aboute__note {
  font-size: clamp(16px, 5vw, 24px);
  color: #FFFFFF;
  margin-top: 10px;
}

.pc__aboute__data>ul>li {
  font-size: clamp(16px, 5vw, 20px);
  color: #FFFFFF;
  margin-top: 15px;
  margin-left: 20px;
}

.pc__aboute__data-btn {
  border-radius: 24px;
  font-size: clamp(16px, 5vw, 24px);
  text-decoration: none;
  margin-top: 35px;
  background: #FFFFFF;
  color: #FF9E00;
  width: clamp(351px, 5vw, 200px);
  height: clamp(92px, 5vw, 70px);
}

.pc__aboute__data-btn>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pc__aboute__data-btn:hover {
  background: #FF9E00;
  color: #FFFFFF;
}

/* Чему научимся */


@media (max-width: 1300px) {
  .slideshow-container {
    max-width: 397px;
    position: relative;
    margin: auto;
  }

  .mySlides {
    display: none;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #171717;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover,
  .next:hover {
    color: #CF7042;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }
}

@media (max-width: 1100px) {
  .logo img {
    width: 155px;
    height: 44px;
  }

  .header__menu {
    display: none;
  }

  .footer__social span {
    margin-right: 17px;
    font-size: 16px;
  }

  .footer__social ul li {
    margin: 20px 5px;
  }

  .mission__author .mission__text {
    margin-top: 7px;
  }

  .faq {
    flex-direction: column;
    gap: 80px;
  }
}

@media (max-width: 900px) {

  .header__detailed {
    display: none;
  }

  .header__login {
    margin-right: 0px;
    float: right;
  }

  footer {
    margin: 147px auto 170px;
  }

  footer ul {
    margin: 24px auto 0px;
    gap: 7px;
  }

  footer ul li img {
    width: 44px;
    height: 44px;
  }

  .container {
    margin: 0px 14px;
  }

  .wallpaper__btn {
    width: 60px;
    height: 60px;
  }


  .mission__menu .buttons {
    margin-bottom: 17px;
    flex-direction: column;
  }

  .mission__menu .button {
    padding: 14px 14px;
  }

  .mission__btn1 {
    margin-right: 0;
  }

  .mission__menu .author {
    margin-bottom: 17px;
  }

  .mission__title {
    margin-top: 80px;
    margin-bottom: 20px;
  }

  .mission__author {
    flex-direction: column;
  }

  .mission__author .mission__text {
    margin-top: 7px;
  }

  .courses__card {
    width: 331px;
    padding: 14px 18px 30px;
    height: 353px;
  }

  .courses__name {
    font-size: 24px;
    margin-top: 32px;
    margin-bottom: 28px;
  }

  .courses__info a {
    font-size: 12px;
    padding: 7px 15px;
  }

  .courses__for {
    font-size: 14px;
    padding: 12px 35px;
  }

  .courses__note {
    display: none;
  }

  .courses__detailed {
    font-size: 16px;
    padding: 20px 30px;
    bottom: 23px;
    left: 20px;
  }

  .courses__helpdesc {
    justify-content: center;
  }

  .courses__help {
    width: 331px;
    padding: 20px;
  }

  .courses__help p {
    font-size: 24px;
    width: 270px;
    margin: 25px 42px 68px 20px;
  }

  .courses__buttons {
    justify-content: center;
  }

  .courses__button {
    width: 150px;
    font-size: 20px;
  }

  .courses__button-full {
    display: none;
  }

  .courses__button-small {
    display: block;
  }

  .teacher__title {
    margin-top: 140px;
  }

  .teacher__about {
    margin-top: 15px;
  }

  .teacher__form {
    justify-content: center;
    margin-top: 82px;
    margin-left: 0;
  }

  .teacher__form>form {
    justify-content: center;
  }

  .form__email {
    min-width: 303px;
    padding: 45px 22px 37px;
  }

  .form__inputs {
    margin-top: 40px;
    flex-direction: column;
  }

  .form__inputs>input {
    height: 62px;
    padding: 22px 24px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }

  /* По умолчанию браузеры плюсуют к ширине input еще и padding и border. Также по умолчанию есть и margin. Решается просто: */
  /* box-sizing: border-box; Убираем влияние padding и border на конечную ширину input */
  /* margin: 0; Обнуляем margin */
  .form__submit {
    font-size: 16px;
    margin-top: 37px;
    height: 62px;
  }

  .form__email>p {
    font-size: 10px;
    margin-top: 9px;
  }

  .teacher__petroglif {
    position: absolute;
    top: -57px;
    right: 10px;
    bottom: auto;
    left: auto;
    transform: rotate(0deg);
  }

  .faq {
    gap: 35px;
  }

  .faq__item {
    padding: 22px;
  }

  .faq__collapsible::after {
    content: url(../img/btn_collapsible_plus_small.svg);
  }

  .faq__active:after {
    content: url(../img/btn_collapsible_minus_small.svg);
  }

  .title {
    margin-left: 0;
  }

  .teacher__name {
    font-size: 24px;
  }

  .teacher__note {
    padding: 22px;
    font-size: 16px;
    margin-top: 15px;
  }

  .endpage {
    margin-top: 100px;
    height: 583px;
  }

  .endpage>.author {
    position: absolute;
    right: 0;
    top: 0;
  }

  .endpage__slogan {
    top: 12%
  }
}